$White: #ffffff;
$Black: #000000;
$PochtiWhite: #CACACA;
$PochtiBlack: #363636;
$SovsemPochtiWhite: #F1F1F1;
$Violet: #9E62F0;
$LightViolet: #E6D7FA;
$Grey: #686868;
$LightGrey: #9B9B9B;
$KatPink: #FA66B9;